.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Fredericka';
  src: url('../public/asset/fonts/FrederickatheGreat-Regular.ttf');
}

@font-face {
  font-family: 'IMSC';
  src: url('../public/asset/fonts/IMFellEnglishSC-Regular.ttf');
}

/* day 2 */
@font-face {
  font-family: 'Cinzel';
  src: url('../public/asset/fonts/CinzelDecorative-Regular.ttf');
}

@font-face {
  font-family: 'Kurale';
  src: url('../public/asset/fonts/Kurale-Regular.ttf');
}

@font-face {
  font-family: 'Qwigley';
  src: url('../public/asset/fonts/Qwigley-Regular.ttf');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.fade-in-section-is-visible {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }

  .fade-in-right-section-is-visible {
    animation: fadeInRight 1.5s;
  }

  .fade-in-right-section-is-visible-fishbone {
    transform: scale(0.95);
    animation: fadeInRight 1.5s;
  }
  

  .fade-in-right-section-is-visible-fishbone-mobile {
    transform: scale(0.7);
    animation: fadeInRight 1.5s;
  }
  
  .fade-in-left-section-is-visible {
    animation: fadeInLeft 1.5s;
  }

  .fade-in-bottom-section-is-visible {
    animation: fadeInDown 1.5s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
  }

  @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
  }

  .vl {
    border-left: 1px solid #4b1e21;
    height: 40pt;
    opacity: 0.5;
  }

  .vl2 {
    border-left: 1px solid #4b1e21;
    height: 300px;
  }
  
  .vertical-timeline-element-icon {
    transform: scale(0.2) !important;
  }

  .react-calendar { 
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    pointer-events: none;
  }
    .react-calendar__navigation button {
        color: brown;
        min-width: 44px;
        background: none;
        font-size: 16px;
        margin-top: 8px;
    }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */

   .react-calendar__navigation__label {
    color: #4b1e21 !important;
    font-family: "IMSC";
    font-size: 20pt !important;
   }

   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: gray;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: gray;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: gray;
   }

   .react-calendar__navigation__arrow {
    color: transparent !important;
   }

   .react-calendar {
    color: #4b1e21 !important;
    background-color: transparent !important;
    box-shadow: none !important; 
    border: none !important;
    font-family: "IMSC" !important;
    font-size: 15pt;
   }

   .react-calendar__viewContainer {
    color:#4b1e21;
   }

   .react-calendar__tile {
    color:#4b1e21 !important;
   }

   .react-calendar__month-view__days__day--weekend {
    color:#4b1e21 !important;
   }

   .react-calendar__month-view__days__day--neighboringMonth {
    color: lightgray !important;
   }

   .react-calendar__tile--active {
    color: white !important;
    background-color: #4b1e21 !important;
    border-radius: 48%;
   }

   .react-calendar-button {
    color:#4b1e21 !important;
   }

   .react-calendar__month-view__weekdays {
    background-color: #4b1e21;
    color: white;
    border-radius: 5pt;
   }

   .name-wording {
    color: #4b1e21; 
    font-size: 22pt; 
    font-family: "Cinzel";
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    opacity: 0.8;
   }

   .name-wording2 {
    color: #4b1e21; 
    font-size: 12pt; 
    font-family: "Cinzel";
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    opacity: 0.8;
   }

   .name-wording3 {
    color: #4b1e21; 
    font-size: 36pt; 
    font-family: "Cinzel";
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    opacity: 0.8;
   }

   .third-wording {
    color:#4b1e21;
    font-family: "IMSC";
    font-size: 10pt;
    opacity: 0.5;
   }

   .third-wording-small {
    color:#4b1e21;
    font-family: "IMSC";
    font-size: 9pt;
    opacity: 0.5;
   }

   .third-wording-6 {
    color:#4b1e21;
    font-family: "IMSC";
    font-size: 10pt;
    opacity: 0.6;
   }

   .third-wording-type2 {
    color:#4b1e21;
    font-family: "Qwigley";
    font-size: 2rem;
    font-weight: bold;
   }

   @-moz-keyframes spin {
    100% { -webkit-transform: rotate(-35deg); transform:rotate(0deg); }
    }
    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(-35deg); transform:rotate(0deg); }
    }
    @keyframes spin { 
        100% { -webkit-transform: rotate(-35deg); transform:rotate(0deg); } 
    }
  
  .animation-rotate {
    transform: rotate(-90deg);
    -webkit-animation:spin 1s infinite ease-in-out;
    -moz-animation:spin 1s infinite linear;
    animation:spin 1s infinite linear;
  }

  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

  .call-button {
    color: black;
    font-family: "Kurale";
    font-weight: bold;
    opacity: 0.5;
    width: 90px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .call-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }

  .modal-content-1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }

  .text-align-center {
    text-align: center;
  }

  .audio-wording {
    font-family: "Kurale";
    color: #4b1e21;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .audio-button {
    color: #4b1e21;
    font-family: "Kurale";
    font-weight: bold;
    width: 60px;
    border-radius: 10px;
    border: 1px solid #4b1e21;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .audio-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }

  .background-1 {
    filter: blur(1px);
    opacity: 0.3;
    height: 100vh;
  }

  .page-1-content-1 {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-1-content-2 {
    color: #4b1e21;
    font-family: "Cinzel";
    opacity: 0.5;
    font-weight: bold;
    white-space: nowrap;
  }

  .page-1-content-3 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-1-content-4 {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .padding-left-10 {
    padding-left: 10px;
  }

  .padding-right-10 {
    padding-right: 10px;
  }

  .page-1-content-5 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-1-content-6 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scroll-down {
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%, -50%);
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    opacity: 0.5;
  }

  @keyframes bounce{ 
    from { transform: translate3d(0, 0, 0);} 
    to { transform: translate3d(0, 20px, 0);} 
  } 
  
  .font-weight-bold {
    font-weight: bold;
  }

  .white-space-no-wrap {
    white-space: nowrap;
  }

  .page-2-content-1 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-2-content-2 {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .padding-bottom-5 {
    padding-bottom: 5px;
  }

  .page-2-content-3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-2-content-4 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .margin-bottom-5 {
    margin-bottom: 5px;
  }

  .page-3-content-1 {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-3-content-2 {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-3-content-3 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .background-2 {
    opacity: 0.7;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: contain;
  }

  .page-4-content-1 {
    position: absolute;
    top: 78%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .page-4-content-2 {
    position: absolute;
    top: 78%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .page-4-content-3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .calendar {
    opacity: 0.6;
    display: flex;
    justify-content: center; 
  }

  .fishbone-1 {
    font-family: "Fredericka";
    width: 400px;
    height: 400px;
  }

  .fishbone-2 {
    position: absolute;
    top: -18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fishbone-3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4b1e21;
  }
  
  .fishbone-ball-1 {
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #4b1e21;
    background-color: #4b1e21;
  }

  .fishbone-ball-2 {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #4b1e21;
    background-color: #4b1e21;
  }

  .fishbone-4 {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #4b1e21;
  }

  .fishbone-5 {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .fishbone-6 {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .fishbone-7 {
    width: 150px;
    height: 1px;
    border-bottom: 1.5px dashed #4b1e21;
  }

  .fishbone-8 {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #4b1e21;
  }

  .fishbone-9 {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .fishbone-10 {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .fishbone-11 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #4b1e21;
  }

  .countdown-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "IMSC";
    width: 400px;
    opacity: 0.6;
  }

  .countdown-2 {
    padding: 30px;
    border-radius: 15px;
    background-color: #4b1e21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    margin: 5px;
  }

  .countdown-value {
    font-size: 2rem;
    padding-bottom: 5px;
  }

  .countdown-unit {
    font-size: 0.8rem;
  }

  .modal-1 {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .modal-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hide {
    opacity: 0;
  }

